#ctk-setting table.form-table tr:nth-child(odd) td {
    padding-bottom: 2px;
}

#ctk-setting table.form-table tr:nth-child(even) {
    border-bottom: 2px solid #dddddd;
}

#ctk-setting table.form-table tr td:nth-child(2) input {
    width: 100%;
}

#ctk-setting .ctk-button-add {
    margin-top: 22px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    line-height: 20px;
}

#ctk-setting .ctk-action {
    float: right;
}